body {
  text-align: center;
  margin: 0;
  margin-top: 200px;
  font-family: "Arial", "Helvetica", sans-serif;
}


input {
    background-color: #32353C;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
}
input:hover {
    filter: brightness(110%);
}


button {
    background: linear-gradient(to right, #08C0FF, #2C72FF);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 2px;
}
button:hover {
    filter: brightness(110%);
}